<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62217124179-8eso50er4ivq9vgssdbaatrpco172gmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62217124179-8eso50er4ivq9vgssdbaatrpco172gmn</string>
	<key>API_KEY</key>
	<string>AIzaSyBejhdE1JFeZXWq6WZfjggIgSHJ4k7--Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>62217124179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.up2us</string>
	<key>PROJECT_ID</key>
	<string>up2us-3b5fe</string>
	<key>STORAGE_BUCKET</key>
	<string>up2us-3b5fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62217124179:ios:4ef9cbe026dd8b68b5c9a6</string>
</dict>
</plist>